asgiref==3.5.2
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
cryptography @ file:///C:/ci/cryptography_1652083563162/work
Django==3.2.15
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyMySQL @ file:///C:/ci/pymysql_1610464861530/work
pytz==2022.2.1
sqlparse==0.4.2
tzdata==2022.2
wincertstore==0.2
