{% extends 'main.html' %}

{% block content %}
<title>E-Waste Collection Site </title>

 <section class="mtop">
        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> E-Waste Collection Site </h2> </div>
                    </section>
                </section>
                </section>
        </section>
            <section class="row-fluid">
                <!-- BreadCrumbs -->
                    <figure id="breadcrumbs" class="span12">
                        <ul class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
                        <li class="active">E-Waste Collection Site </li>
                        </ul>
                    </figure>
                <!-- End of breadcrumbs -->
            </section>
        </section>
    </section>

<section id="content" class="mbtm blog">
	<section class="container-fluid container">
		<section class="row-fluid">
				<section class="span12" id="blog_listing">

					<figure class="blog_item">
                        <div class="outer_lyr span12 first">
                            <div class="inner_lyr">
                                <div class="accordion faq_accordion" id="accordion1">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                             <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Used Clothing </strong> </h3>
                                        </a>
                                        </div>
                                        <div id="collapseOne" class="accordion-body collapse in">
                                            <div class="accordion-inner">
                                            <p>Retailers like H&M, Uniqlo, Zara accepts clothing and textiles for recycle and resue. MacPac have trade-in programs for worn clothing in exchange for in-store credit.  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                        <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                             <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Quilt Covers and Towel</strong> </h3>
                                        </a>
                                        </div>
                                        <div id="collapseTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Sheridan accepts used quilt and towel for recycling into new product in exchange for 5% off your next purchase.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                        <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                                             <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Uniforms</strong> </h3>
                                        </a>
                                        </div>
                                        <div id="collapse3" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <h4>School Uniforms</h4>
                                                <p>Visit The Uniform Exchange to sell, buy or donate unused school uniforms in Australia </p>
                                                <h4>Work Uniforms </h4>
                                                <p>Loop Upcycling provides recycling services for corporate workwear and assiting companies to adopt sustainable waste management practices </p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
				            </div>
				        </div>
					</figure>
                    <figure class="blog_item">
                        <div class="outer_lyr span12 first">
                            <div class="inner_lyr">
                                <input type="text" name="search" value="Perhaps you can find it using the search option" />
                                <button> <i class="icon-search"></i> </button>

                                <form action="{% url 'clothing' %}" method="GET">
                                    <label for="site">Clothing Disposal Site</label>
                                    <select name="CSite" id="site">
                                        <option value="Melbourne" selected>Melbourne</option>
                                        <option value="North Melbourne">North Melbourne</option>
                                        <option value="java">Java</option>
                                        <option value="golang">Golang</option>
                                        <option value="python">Python</option>
                                        <option value="c#">C#</option>
                                        <option value="C++">C++</option>
                                        <option value="erlang">Erlang</option>
                                    </select>
                                    <input name="Site" type="submit" value="Submit"/>
                                </form>
                                <figure id="map_holder" class="span12 first mbtm2">
                                    <iframe width="100%"  height="auto" class="map-border" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgX16AyleX9Cjjnno5uYQKyliz-_NGKO4">
                                        <div id="map_canvas1" style="border: 2px solid #3872ac;"></div>
                                    </iframe>

                                </figure>
                            </div>
                        </div>
                    </figure>
	</section>

</section>



</section>
</section>
<head>
    <style>
html,
body,
#map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}


    </style>
</head>
<!--<body>-->

<!--<div>-->
<!--    <div>-->
<!--        {% for clothing in clothings %}-->
<!--        <h5>{{clothing.name}}&#45;&#45;{{clothing.address}}&#45;&#45;{{clothing.district}}</h5>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgX16AyleX9Cjjnno5uYQKyliz-_NGKO4"></script>
    <div id="map_canvas" style="border: 2px solid #3872ac;"></div>


<body>
    <script>
    var locations = [];
    var i =0;
    {% for clothing in clothings %}
        locations[i] = "{{clothing.address}}"+","+"{{clothing.district}}";
        i+=1;
    {% endfor %}

    console.log(locations);

var geocoder;
var map;
var bounds = new google.maps.LatLngBounds();

function initialize() {
  map = new google.maps.Map(
    document.getElementById("map_canvas"), {
      center: new google.maps.LatLng( -37, 144),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  geocoder = new google.maps.Geocoder();

  for (i = 0; i < locations.length; i++) {


    geocodeAddress(locations, i);
  }
}
google.maps.event.addDomListener(window, "load", initialize);

function geocodeAddress(locations, i) {

  var address = locations[i];
  geocoder.geocode({
      'address': locations[i]
    },

    function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/red.png',
          map: map,
          position: results[0].geometry.location,

          animation: google.maps.Animation.DROP,
          address: address

        })
        //infoWindow(marker, map, title, address);
        bounds.extend(marker.getPosition());
        map.fitBounds(bounds);
      }
    });
}



function createMarker(results) {
  var marker = new google.maps.Marker({
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
    map: map,
    position: results[0].geometry.location,

    animation: google.maps.Animation.DROP,
    address: address
  })
  bounds.extend(marker.getPosition());
  map.fitBounds(bounds);
  return marker;
}


    </script>
</body>


{% endblock content %}
