{% extends 'main.html' %}

{% block content %}

<h1>clothing</h1>
<div>
    <div>
        <form action="{% url 'clothing' %}" >
            <label for="site">Clothing Disposal Site</label>
            <select name="CSite" id="site">
                <option value="Melbourne" >Melbourne</option>
                <option value="php">PHP</option>
                <option value="java">Java</option>
                <option value="golang">Golang</option>
                <option value="python">Python</option>
                <option value="c#">C#</option>
                <option value="C++">C++</option>
                <option value="erlang">Erlang</option>
            </select>
            <input name="Site" type="submit" value="Submit"/>
        </form>

    </div>
    <div>
        {% for clothing in clothings %}
        <h5>{{clothing.name}}--{{clothing.address}}--{{clothing.district}}</h5>
        {% endfor %}
    </div>
</div>

{% endblock content %}