<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>E-waste Classification </title>
    {% load static %}
<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js'%}"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="{% static 'js/mq.js'%}"></script>
<![endif]-->
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width">
<!-- Css Files Start -->
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" /><!-- All css -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{% static 'css/customIE.css'%}" </><![endif]-->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
<link href="{% static 'css/font-awesome-ie7.css'%}" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
<!-- Css Files End -->
<!-- Social Icons no JS -->
<noscript>
		<link rel="stylesheet" type="text/css" href="{% static 'css/nj.css' %}" />
</noscript>
<!-- Social Icons no JS -->

</head>
<body>
<!-- Start Main Wrapper -->
<div class="wrapper">
<!-- Start of Header -->
	{% include 'header.html' %}
<!-- End of Header -->

<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
<!-- Page Title -->
		<section id="donation_box">
			<section class="container container-fluid">
				<section class="row-fluid">
				<figure class="span12">
					<h2> E-waste Classification </h2>
				</figure>
				</section>
			</section>
		</section>
<!-- end of Page Title -->
		</section>
		<section class="row-fluid">
			<!-- BreadCrumbs -->
				<figure id="breadcrumbs" class="span12">
					<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
					<li class="active">E-waste Classification</li>
					</ul>
				</figure>
			<!-- End of breadcrumbs -->
		</section>
	</section>
</section>
<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm blog">
	<section class="container-fluid container">
	
		<section class="row-fluid">
			<section class="horizontal_tabs_wrapper span12 first mbtm2">
			<figure class="span3" id="horizontal_tabs">
				<ul  id="myTab">
				  <li class="active"><a data-toggle="tab" href="#home"> What is E-waste?</a></li>
				  <li class=""><a data-toggle="tab" href="#design"> E-waste drop-off points</a></li>
				  <li class=""><a data-toggle="tab" href="#developer"> Where to take common e-waste items</a></li>
				</ul>
			</figure>
			
			<figure class="span9" id="horizontal_tabs_content">			
					<div class="tab-content" id="myTabContent">
							  <div id="home" class="tab-pane fade active in">
							  <h2> What is E-waste? </h2>
								  <p>E-waste is any item with a plug, battery or power cord that’s no longer working or wanted. It covers a whole range of items from phones and refrigerators to fluorescent light tubes.</p>
								<div class="accordion faq_accordion" id="accordion1">
									<div class="accordion-group">
										<div class="accordion-heading">
										<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
											 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Electrical and electronic tools </strong> </h3>
										</a>
										</div>
										<div id="collapseOne" class="accordion-body collapse in">
											<div class="accordion-inner">
											<ol>
												<li>  Batteries	 </li>
												<li>  Drills </li>
												<li>  Lawn mowers </li>
												<li>  Saws </li>
												<li>  Sewing machines </li>
											</ol>
											</div>
										</div>
									</div>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
												 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> IT, telecommunications and TV equipment </strong> </h3>
											</a>
										</div>
										<div id="collapseTwo" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
												<li>  Computers	 </li>
												<li>  Laptops </li>
												<li>  Mobile phones </li>
												<li>  Printers </li>
												<li>  Remote controls </li>
												<li>  Televisions </li>
											</ol>
											</div>
										</div>
									</div>

									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
												 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Home appliances (large) </strong> </h3>
											</a>
										</div>
										<div id="collapseThree" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
													<li>  Air conditioners	 </li>
													<li>  Cookers </li>
													<li>  Electric fans </li>
													<li>  Microwaves </li>
													<li>  Refrigerators </li>
													<li>  Washing machines </li>
												</ol>
											</div>
										</div>
									</div>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
												<span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Home appliances (small) </strong> </h3>
											</a>
										</div>
										<div id="collapseFour" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
													<li>  Coffee machines	 </li>
													<li>  Hair dryers </li>
													<li>  Irons </li>
													<li>  Toasters </li>
													<li>  Watches </li>
												</ol>
											</div>
										</div>
									</div>

									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
												<span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Lighting equipment </strong> </h3>
											</a>
										</div>
										<div id="collapseFive" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
													<li>  Compact fluorescent lamps	 </li>
													<li>  Discharge lamps </li>
													<li>  Fluorescent lamps </li>
													<li>  High-intensity LEDs </li>
												</ol>
											</div>
										</div>
									</div>

									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
												<span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Other items </strong> </h3>
											</a>
										</div>
										<div id="collapseSix" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
													<li>  Automatic dispensers	 </li>
													<li>  Medical devices </li>
													<li>  Printer cartridges </li>
													<li>  Thermostats </li>
												</ol>
											</div>
										</div>
									</div>

									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
												<span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Toys, leisure and sports equipment </strong> </h3>
											</a>
										</div>
										<div id="collapseSeven" class="accordion-body collapse">
											<div class="accordion-inner">
												<ol>
													<li>  Amplifiers	 </li>
													<li>  Consoles </li>
													<li>  Hand-held video games </li>
													<li>  Musical instruments </li>
													<li>  Radios </li>
													<li>  Toys like electric trains and racing cars </li>
												</ol>
											</div>
										</div>
									</div>

									</div>
							  </div>
							  <div id="design" class="tab-pane fade">
								  <h2> E-waste drop-off points</h2>
										<p> E-waste should not be put in your rubbish or recycling bin. Take e-waste to a drop-off point. To find your closest e-waste drop-off point, use the Recycling Near You directory
										</p>
								  <div class="accordion faq_accordion" id="accordion3">
									<div class="accordion-group">
										<div class="accordion-heading">
										<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
											 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> When there are no e-waste drop-off points near you </strong> </h3>
										</a>
										</div>
										<div id="collapse1" class="accordion-body collapse in">
											<div class="accordion-inner">
												<p>If there are currently no drop-off points near you, or you have a different electronic item to get rid of:</p>
											<ol>
												<li>  using our website's finding E-waste collection point</li>
												<li>  check your local council's website for other disposal options in your area	 </li>
												<li>  pass it onto your friends, family or sell second hand, if it’s still working </li>
												<li>  have it collected from your home through eMeals </li>
											</ol>
											<a href="{% url 'e_waste' %}" class="tier_button"> Quick Access </a>
											</div>
										</div>
									</div>
							  </div>
							  </div>
							  <div id="developer" class="tab-pane fade">
							  	<h2> Where to take common e-waste items </h2>
								<Section class="product_list_holder" >

									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-Waste-Batteries.jpg'%}" alt="Product Image" style="width:201px;height:151px;" />
										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Batteries </a> </h3>
										<p> Household batteries can be recycled at no cost. To find drop-off points, visit the B-cycle website.For car battery drop-off sites, visit the Car batteries page – Recycling Near You website.</p>
										</div>

									</figure>
									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-Waste-Laptop.jpg'%}" alt="Product Image" style="width:201px;height:151px;"  />

										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Computers and laptops </a> </h3>
										<p> The National Television and Computer Recycling Scheme has designated collection points across Victoria.</p>
										</div>

									</figure>
									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-dispose-of-fluorescent-lights-880x250.jpg'%}" alt="Product Image" style="width:201px;height:151px;"  />

										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Light bulbs </a> </h3>
										<p> Fluorescent tubes and light bulbs can be disposed of for free at permanent drop-off sites located at most council-operated transfer stations. </p>

										</div>

									</figure>
									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-dispose-of-mobile-phones-880x250.jpg'%}" alt="Product Image"  style="width:201px;height:151px;" />

										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Mobile phones </a> </h3>
											<p> MobileMuster is a free, not-for-profit mobile phone recycling program that accepts all brands and types of mobile phones, plus their batteries, chargers and accessories.Dropping items off is free but don't forget to properly remove your personal data.</p>
										</div>
									</figure>
									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-Waste-Smoke-detector.jpg'%}" alt="Product Image" style="width:201px;height:151px;"   />

										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Smoke detectors </a> </h3>
											<p> Domestic smoke alarms are not included in the e-waste ban and can be disposed of in your rubbish bin.</p>
										</div>
									</figure>
									<figure class="span12 first" id="product">

										<div class="product_img span4 first">
												<img src="{% static 'images/Photo-dispose-of-whitegoods-880x250.jpg'%}" alt="Product Image" style="width:201px;height:151px;"  />

										</div>
										<div class="span8 product_description">
										<h3> <a href="#"> Whitegoods </a> </h3>
											<p> Metal from whitegoods can be recycled again and again to make new products, so it's important that they don't end up in landfill. Visit the Whitegoods recycler lookup - Recycling Near You website</p>
										</div>
									</figure>
								</Section>
							  </div>

							 
							 </div>
			</figure>
			
			</section>

		</section>
	</section>

</section>
<!-- Page Content Container -->
	 
<!-- Start of Footer -->
	{% include 'footer.html' %}
<!-- End of Footer -->
</div>
<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="{% static 'js/lib-1-9-1.js' %}"></script><!-- lib Js -->
<script type="text/javascript" src="{% static 'js/lib-1-7-1.js' %}"></script><!-- lib Js -->
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script><!-- Modernizr -->
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script><!-- Easing js -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script><!-- Bootstrap -->
<script type="text/javascript" src="{% static 'js/bxslider.js' %}"></script><!-- BX Slider -->
<script type="text/javascript" src="{% static 'js/clearInput.js' %}"></script><!-- Input Clear -->
<script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script><!-- smooth Scroll -->
<script type="text/javascript" src="{% static 'js/prettyPhoto.js' %}"></script><!-- Pretty Photo -->
<script type="text/javascript" src="{% static 'js/social.js' %}"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script><!-- Event Counter -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script><!-- Custom / Functions -->
<!--[if IE 8]>
     <script src="{% static 'js/ie8_fix_maxwidth.js'%}" type="text/javascript"></script>
<![endif]-->
</body>
</html>