{% extends 'main.html' %}

{% block content %}
<div>
    <div>
        <form action="{% url 'e_waste' %}" method="GET">
            <label for="site">E-Waste Collection Site</label>
            <select name="ESite" id="site">
                <option value="Colac Otway" selected>Colac Otway</option>
                <option value="php">PHP</option>
                <option value="java">Java</option>
                <option value="golang">Golang</option>
                <option value="python">Python</option>
                <option value="c#">C#</option>
                <option value="C++">C++</option>
                <option value="erlang">Erlang</option>
            </select>
            <input name="Site" type="submit" value="Submit"/>
        </form>

    </div>
    <div>
        {% for ewaste in ewastes %}
        <div>
            <h5>{{ewaste.name}}--{{ewaste.ownership}}--{{ewaste.site}}</h5>
        </div>

        {% endfor %}
    </div>
</div>

<head>

<style>
html,
body,
#map_canvas {
  height: 95%;
  width: 95%;
  margin: 5px;
  padding: 0px
}

    </style>
</head>
<body>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgX16AyleX9Cjjnno5uYQKyliz-_NGKO4"></script>
    <div id="map_canvas" style="border: 2px solid #3872ac;"></div>


<body>
    <script>
    var locations = [];
    var i =0;
    {% for ewaste in ewastes %}
        locations[i] = "{{ewaste.name}}"+","+"{{ewaste.site}}";
        i+=1;
    {% endfor %}

    console.log(locations);

var geocoder;
var map;
var bounds = new google.maps.LatLngBounds();

function initialize() {
  map = new google.maps.Map(
    document.getElementById("map_canvas"), {
      center: new google.maps.LatLng( -37.840935, 144.946457),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  geocoder = new google.maps.Geocoder();

  for (i = 0; i < locations.length; i++) {


    geocodeAddress(locations, i);
  }
}
google.maps.event.addDomListener(window, "load", initialize);

function geocodeAddress(locations, i) {

  var address = locations[i];
  geocoder.geocode({
      'address': locations[i]
    },

    function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
          map: map,
          position: results[0].geometry.location,

          animation: google.maps.Animation.DROP,
          address: address

        })
        //infoWindow(marker, map, title, address);
        bounds.extend(marker.getPosition());
        map.fitBounds(bounds);
      }
    });
}



function createMarker(results) {
  var marker = new google.maps.Marker({
    icon: 'http://maps.google.com/mapfiles/ms/icons/red.png',
    map: map,
    position: results[0].geometry.location,

    animation: google.maps.Animation.DROP,
    address: address
  })
  bounds.extend(marker.getPosition());
  map.fitBounds(bounds);
  return marker;
}


    </script>

</body>

{% endblock content %}
